:root{

        --black: #000;
        --grey: #121212;
        --light-grey: #232323;
        --white: #fff;

}

body, html{

    height: 100%;
    margin: 0rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    font-family: "Nunito", sans-serif;
    color: var(--white);
}

a{
    color: var(--white);
    text-decoration: none;
}

.container {
    display: flex;
    flex: 1;
    overflow: hidden;
    background-color: var(--black);
    padding: 0.5rem;
  }

  .sidebar{

    flex: 0.25;
    background-color: var(--grey);
    margin-right: .5rem;
    border-radius: 0.5rem;
    background-color: var(--black);
  }

.main-container{

    flex: 1;
    overflow: auto;
    background-color: var(--grey);
    border-radius: 0.5rem;

}

.navlinks{

    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    margin-bottom: .5rem;
    border-radius: .5rem;


}

.library{

    flex: 1;
    overflow: auto;
    background-color: var(--grey);
    border-radius: .5rem;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    height: 90vh;
    
}


.player{
    background-color: var(--black);
    height: 80px;
    width: 100%;
    bottom: 0;
    position: fixed;
}



.link-flex{

    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: .7;

}
.link-flex:hover{
    opacity: 1;
    transition: all 0.3s;
}
.link-flex img{

    width: 1.2rem;
    height: 1.2rem;
}

